body {
    width: 960px;
    margin: 0 auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#filter {
    text-align: center;
}

select {
    border-right: #cccccc 1px solid;

    BORDER-BOTTOM: #cccccc 1px solid;
    BORDER-LEFT: #666666 1px solid;
    BACKGROUND: #f9f9f9;
    COLOR: #333;
    VERTICAL-ALIGN: middle;
    BORDER-TOP: #666666 1px solid;
    BORDER-RIGHT: #cccccc 1px solid;
    padding: 2px;
}
