body {
    width: 1500px;
    text-align: center;
    margin: 0 auto 10px auto;
    padding: 0;
    font-size: 12px;
    color: #3f3849;
    font-family: Arial, Helvetica, sans-serif;
}

th{
    background-color: #EDF1F6;
    border:1px solid #D1DCEB;
    border-top:white;
    border-left: white;
}

table tr td{
    background-color: #F5FAFF;
    border: 1px solid #D1DCEB;
    border-top: white;
    border-left: white;
    font-weight: lighter;
}